{% extends 'base.html' %}

{% load static %}
{% block content %}
{% include 'style.html' %}
<header>
        <h1 class="title _font0" id="header_title">
            Hi there!
        </h1>
</header>
<div class="page">
    <div class="side_bar_container">
        <div class="side_bar">
            <div class="side_bar_item" onclick="location.href='#about';">
                <h3>about me!</h3>
            </div>
            <div class="side_bar_item" onclick="location.href='#project1';">
                <h3>draw factory</h3>
                <img src="{% static 'landing_page/draw_factory.png' %}" alt="My image">
            </div>
            <div class="side_bar_item" onclick="location.href='#project2';">
                <h3>project2!</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="about" id="about">
            hello world
        </div>
        <div class="project_showcase" id="project1">
            <p>I've had a lot of fun programming the Draw Factory</p>
            <p>project.</p>
            <p>In this project you enter a role, which assigns to a</p>
            <p>particular drawing tool.</p>
            <p>Each drawing tool has a position in a conveyor belt</p>
            <p>so that the first tool gets a blank drawing canvas,</p>
            <p>the second tool gets what was drawn with the first tool</p>
            <p>and so on, until all tools have been used in order.</p>
            <p>The final product or drawing is displayed in a show-all</p>
            <p>page.</p>
            <img src="{% static 'landing_page/draw_factory.gif' %}" alt="My image">
        </div>
        <div class="project_showcase" id="project2">
        </div>
    </div>
</div>
<script>
    function next_font(current_font_index, element_id) {
        let element = document.getElementById(element_id);
        element.classList.remove(`_font${current_font_index}`);
        if (current_font_index >= 15) {
            current_font_index = 0;
        }
        else {
            ++current_font_index;
        }
        element.classList.add(`_font${current_font_index}`);
        return current_font_index;
    }
    let current_font_index = 0;
    // setInterval(() => {
    //     let element_id = 'header_title';
    //     current_font_index = next_font(current_font_index, element_id);
    // }, 400);
</script>
{% endblock content %}