<style>
    * {
        border: 1px solid black;
    }
    html {
        scroll-behavior: smooth;
        height: fit-content;
        overflow: unset;
    }
    body {
        margin: 0%;
        padding: 0%;
        height: fit-content;
        overflow: unset;
    }
    header {
        text-align: center;
        height: 200px;
        box-shadow: rgba(189, 117, 189, 0.205) 0px -50px 36px -28px inset;
    }
    .page {
        height: 100%;
    }
    .side_bar_container {
        position: absolute;
        display: block;
        width: 38%;
        height: 720vh;
    }
    .side_bar {
        position: sticky;
        top: 0vh;
        height: 100vh;
        margin-right: 1%;
    }
    .container {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content:space-between;
        width: 60%;
        margin-left: 39%;
        height: 720vh;
    }
    .about {
        /* color: rgb(3, 51, 31); */
        /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
        /* font-weight: 700; */
        height: 100vh;
        display: block;
    }
    .project_showcase {
        height: 100vh;
        display: block;
    }
    ._font0 {
        font-family: 'Courier New', Courier, monospace;
        /* color: palevioletred; */
    }
    ._font1 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        /* color: rebeccapurple; */
    }
    ._font2 {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        /* color: slateblue; */
    }
    ._font3 {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        /* color: sienna; */
    }
    ._font4 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /* color: yellow; */
    }
    ._font5 {
        font-family: 'Times New Roman', Times, serif;
        /* color: green; */
    }
    ._font6 {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        /* color: blue; */
    }
    ._font7 {
        font-family: Arial, Helvetica, sans-serif;
        /* color: purple; */
    }
    ._font8 {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        /* color: red; */
    }
    ._font9 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        /* color: lightpink; */
    }
    ._font10 {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        /* color: pink; */
    }
    ._font11 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        /* color: lightseagreen; */
    }
    ._font12 {
        font-family: cursive;
        /* color: lime; */
    }
    ._font13 {
        font-family: fantasy;
        /* color: mediumseagreen; */
    }
    ._font14 {
        font-family: monospace;
        /* color: navy; */
    }
    ._font15 {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        /* color: orange; */
    }
    .title {
    }
    .about_article {
    }
</style>